{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title> {% block title %}
    {% endblock%} </title>
      <style>
          .col-md-3
          {
          display: inline-block;
          margin-left:-4px;
          }
          .carousel-indicators .active {
          background-color: blue;
            }
          .col-md-3 img{
          width:100%;
          height:auto;
          }
          body .carousel-indicator li{
          background-color: blue;
          }
          body .carousel-indicators{
          bottom: 0;
          }
          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: blue;
          }
           body .no-padding{
           padding-left: 0;
           padding-right: 0;
           }
  </style>
  <style>
    {% block css %}

    {% endblock css %}
  </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">My Awesome Cart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% block home %}
      {% endblock home %}">
        <a class="nav-link " href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% block about %}
      {% endblock about %}">
        <a class="nav-link" href="/about">About</a>
      </li>
       <li class="nav-item {% block checkout %}
      {% endblock checkout %}">
        <a class="nav-link" href="/checkout">Checkout</a>
      </li>
       <li class="nav-item {% block contact %}
      {% endblock contact %}">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
     {% if user.is_authenticated %}
        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle my-2 mx-2" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Welcome <b>{{request.user |title }}</b>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/viewprofile">View Profile</a>
            <a class="dropdown-item" href="/change_password">Change Password</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </div>
        {% else %}
        <button class="btn btn-outline-success my-2 mx-2 my-sm-0" data-target="#loginModal"
          data-toggle="modal">Login</button>
        <!-- Button trigger Signup modal -->
        <button type="button" class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal"
          data-target="#signupModal">
          SignUp
        </button>
        {% endif %}
  </div>

</nav>
  <!--Login model-->

  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModallabel">Login Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/login/" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="UserName">Username</label>
              <input type="text" class="form-control" id="Username" name="loginusername">
              <label for="Password">Password</label>
              <input type="password" class="form-control" id="Password" name="loginpass">

            </div>
            <button type="submit" class="btn btn-success">Login</button>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>

  <!--end login model -->

  <!-- Signup  Modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Signup </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/signup/" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="UserName">Username</label>
              <input type="text" class="form-control" id="Username" name="username">
              <label for="InputEmail">Email address</label>
              <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" name="email">
            </div>
            <div class="form-group">
              <label for="FirstName">First Name</label>
              <input type="text" class="form-control" id="firstname" name="firstname">
              <label for="LastName">Last Name</label>
              <input type="text" class="form-control" id="lastname" name="lastname">
            </div>
            <div class="form-group">
              <label for="Password">Password</label>
              <input type="password" class="form-control" id="Password" name="pass1">
              <label for="Password1">Confirm Password</label>
              <input type="password" class="form-control" id="Password1" name="pass2">
            </div>
            <div class="form-group form-check">
              <label class="checkbox-inline"><input type="checkbox" name="" required=""> I accept the <a href="#"> Terms
                  of Use </a> &amp; <a href="#"> Privacy Policy</a></label>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
{% block body %}



{% endblock %}

<footer class="py-3 bg-dark">
    <div class="container-fluid">
      <p class="m-0 text-center text-white">Copyright © Your Website 2020</p>
    </div>

  </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
